body {
    font-family: $f-publicsans;
}

main { 
    @include breakPoints(5000px, 1200){
        background-color: $verylight-gray;
    }
   
    @include breakPoints(800px){
        position: relative;  //making it not overlaps the about
        top: 0;
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        
    }

    .main__hero {
        @include breakPoints(800px){
            display: flex;
            flex: 1; //set
            flex-direction: column-reverse;
            position: relative;
            top: 0; 
            max-width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;

        }

        @include breakPoints(1300px, 801px){ //set
            top: 150px;
            display: flex;
            flex-direction: row;
        }    
    }
    

    .main__images {
        background-repeat: no-repeat;
        background-size: cover;
    
        @include breakPoints(800px){
        background-position: top;
        
            img{
                position: relative;  
                top: -120px;
                z-index: z(default);
                width: 100%;

            }

        }

        @include breakPoints(1300, 800px){ //set
            width: 70%;
            img{
                position: relative;
                top: 300px;
                width: 100%;
            }
        }
    }

    .main__information {  
        
        @include breakPoints(800px){
            position: relative;
            top: -55px;
            z-index: z(dropdown);
            text-align: center;
        }
        
        @include breakPoints(1300px, 801){ //set
            width: 30%;
        }
        

        .details {
            margin: 0 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            line-height: 2;
            @include breakPoints(1300px, 801px){ //set
                position: relative; 
                top: 20vh;
            }
            
        }

        h1{
            text-align: center;
            font-size: 2.7rem;
            padding: 8px 0;
            font-weight: 700;
            color: $dark-blue;

        }

        p{
            font-size: 1.1rem;
            font-weight: 700;
            letter-spacing: .5px;
            color: $grayish-blue;
        }

    }
}

.request-button {
    display: inline-block;
    margin: 2rem auto;
    padding: 8px 20px;
    border-radius: 100px;
    color: $white; 
    background: linear-gradient(to right, $lime-green, $bright-cyan);

    &:hover{
        @include hoverOpacity
    }

}

